<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.userzoom.hosts</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/dnsmasq_reload.sh</string>
    </array>
    <key>WatchPaths</key>
    <array>
        <string>/etc/hosts</string>
    </array>
</dict>
</plist>
